* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    line-height: 1.9em;
}
body::-webkit-scrollbar {
    display: none;
  }
.super-div {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #0E1117;
    color: white;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gradient-line {
    background: radial-gradient(#DB0CED, rgba(254, 199, 2, 0.708));
    height: 0.3em;
    /* Set your desired height */
    width: 100%;
}

.container {
    /* Add the styles for the container */
    /* You may need to adjust the margin, flex properties, or other styles */
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 100%;
}

.header-text {
    /* Add the styles for the header text */
    /* You may need to adjust the font size, font weight, padding, or other styles */
    align-self: flex-start;
    display: flex;
    align-content: flex-start;
    font-size: 3rem;
    line-height: 1;
    font-weight: bold;
    margin-top: 2.5rem;
    padding-bottom: 1rem;
    background: linear-gradient(to bottom, #FFFFFF, #0B5357);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    /* For better cross-browser support, you might need to add additional vendor prefixes */
}



.flex-container {
    /* Add the styles for the flex container */
    /* You may need to adjust the margin, justify-content, align-items, or other styles */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}

.logo-img {
    /* Add the styles for the logo images */
    /* You may need to adjust the width, margin, filter, or other styles */
    margin: 0 1.5rem 0 1.5rem;
    width: 2.5rem;
    /* Add additional styles for other screen sizes if needed */
}

#github{
    width: 2rem;
}

.text-container {
    /* Add the styles for the text container */
    /* You may need to adjust the text-center, background, text styles, max-width, or other styles */
    text-align: center;
    background: linear-gradient(to right, #A91B92, #986F20);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.25rem;
    line-height: 1.75rem;
    /* Adjust as needed */
    /* Add additional styles for other screen sizes if needed */
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

@media (max-width: 458px) {

    .header-text {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
    
}

@media (max-width: 360px) {

    .container {
        /* Add the styles for the container */
        /* You may need to adjust the margin, flex properties, or other styles */
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .header-text {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }
    
    .text-container {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .logo-img {
        width: 2rem;
    }

    #github{
        width: 1.5rem;
    }

    .text-container{
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}

@media (max-width: 265px) {
    .header-text {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .logo-img {
        width: 1.5rem;
    }

    #github{
        width: 1rem;
    }
}

table{
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        /* min-width: 400px; */
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

td{
    padding: 12px 15px;
}
tbody tr{
    border-bottom: 1px solid #dddddd;
}
tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

th, td {
    padding: 8px;
  }

  td:first-child, th:first-child {
      border-right: 1px solid #dddddd;
  }

  /* Optionally, add a border-bottom to the first row */
  tr:first-child th {
    border-bottom: 1px solid #dddddd;
  }

  li::marker {
    content: "⭐"
  }

  li:hover::marker {
    content: "✨";
  }

  h1{
    color: #0f66c7;
  }
  h2{
    color: #ce1382;
  }
  h3{
    color: #d45003;
  }
  h4{
    color: #29b57b;
  }

  body::-webkit-scrollbar {
    width: 1em;
  }
   